@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@utility line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

@utility line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@utility line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

[x-cloak] {
    display: none !important;
}

.avatar-preview {
    border: none;
}

.avatar-preview-ready {
    display: block;
    opacity: 1;
    visibility: visible;
}

.avatar-preview-layer-base {
    z-index: 10;
}

.avatar-preview-layer-top {
    z-index: 20;
}

.avatar-container-previewing {
    background: transparent;
    border: none;
    box-shadow: 0 0 0 2px #e5e7eb;
}

.avatar-current-dimmed {
    opacity: 0.3;
}
